<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Initial Test</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design stuff -->
    <link href="css/roboto.min.css" rel="stylesheet">
    <!--link href="css/material.min.css" rel="stylesheet"-->
    <link href="css/material-fullpalette.min.css" rel="stylesheet">
    <link href="css/ripples.min.css" rel="stylesheet">

        <!-- Custom Admin CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

       <!-- Custom CSS -->
    <link href="css/custom.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <!--link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

     <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="custom_navbar" role="navigation">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Panel de Administración</a>
            </div>

            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" id="custom_user_icon" data-toggle="dropdown"><i class="mdi-action-account-circle"></i> Admin <b class="caret"></b></a>
                    <ul class="dropdown-menu" id="custom_drop_menu">
                        <li>
                            <a href="#"><i class="mdi-social-person"></i> Perfil</a>
                        </li>
                        <!--li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li-->
                        <li>
                            <a href="#"><i class="mdi-action-settings"></i> Configuración</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="mdi-action-exit-to-app"></i> Cerrar Sesión</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav" id="custom_sidebar">
                    <li>
                        <a href="#"><i class="mdi-notification-folder-special"></i> Panel de Ofertas</a>
                    </li>
                    <li>
                        <a href="#"><i class="mdi-social-poll"></i> Reportes</a>
                    </li>
                    <li>
                        <a href="#"><i class="mdi-notification-tap-and-play"></i> Notificaciones Push</a>
                    </li>
                    <li>
                        <a href="#"><i class="mdi-av-my-library-books"></i> Encuestas</a>
                    </li>
                    <li>
                        <a href="#"><i class="mdi-communication-contacts"></i> Administración</a>
                    </li>
                    <li>
                        <a href="#"><i class="mdi-communication-live-help"></i> Ayuda</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <!-- end navbar -->


        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Página de ejemplo
                            <small>Subtítulo</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Material Design js -->
    <script src="js/ripples.min.js"></script>
        <script src="js/material.min.js"></script>
        <script>
            $(document).ready(function() {
                // This command is used to initialize some elements and make them work properly
                $.material.init();
            });
        </script>

</body>

</html>
