<!DOCTYPE html>
<html lang="en">

   <body>
         <!-- NAV TO BE LOADED DINAMICALLY -->

         <!-- Navigation -->
         <nav class="navbar navbar-inverse navbar-fixed-top" id="custom_navbar" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="index.html">Panel de Administración</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
               <li class="dropdown">
                  <a href="#" class="dropdown-toggle" id="custom_user_icon" data-toggle="dropdown"><i class="mdi-action-account-circle"></i> Admin <b class="caret"></b></a>
                  <ul class="dropdown-menu" id="custom_drop_menu">
                     <li>
                        <a href="#"><i class="mdi-social-person"></i> Perfil</a>
                     </li>
                     <!--li>
                        <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li-->
                     <li>
                        <a href="#"><i class="mdi-action-settings"></i> Configuración</a>
                     </li>
                     <li class="divider"></li>
                     <li>
                        <a href="#"><i class="mdi-action-exit-to-app"></i> Cerrar Sesión</a>
                     </li>
                  </ul>
               </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
               <ul class="nav navbar-nav side-nav" id="custom_sidebar">
                  <li>
                     <a href="#" id="ofertas"><i class="mdi-notification-folder-special"></i> Panel de Ofertas</a>
                  </li>
                  <li>
                     <a href="#" id="reportes"><i class="mdi-social-poll"></i> Reportes</a>
                  </li>
                  <li>
                     <a href="notificaciones.html" id="push"><i class="mdi-notification-tap-and-play"></i> Notificaciones Push</a>
                  </li>
                  <li>
                     <a href="#" id="encuestas"><i class="mdi-av-my-library-books"></i> Encuestas</a>
                  </li>
                  <li>
                     <a href="#" id="admon"><i class="mdi-communication-contacts"></i> Administración</a>
                  </li>
                  <li>
                     <a href="#" id="ayuda"><i class="mdi-communication-live-help"></i> Ayuda</a>
                  </li>
               </ul>
            </div>
            <!-- /.navbar-collapse -->
         </nav>
         <!-- end navbar -->


         <div id="page-wrapper">
            <div class="container-fluid">
               <h3>TEST</h3>
            </div>
            <!-- /.container-fluid -->
         </div>
         <!-- /#page-wrapper -->
   </body>
</html>